@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #F4F2EE;
  @apply max-sm:mx-4 max-md:mx-8 max-lg:mx-16 max-xl:mx-32 max-2xl:mx-64 py-8
}

.custom_border {
  @apply border border-[#d6d6d6]
}

.section_title {
  @apply p-3 rounded-xl shadow-sm border
}

.tech_stack {
  @apply custom_border rounded-full p-1 px-2 text-sm text-center
}

.card_container {
  @apply custom_border p-3 flex flex-col rounded-lg items-start
}

.card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #DFDEDA;
  @apply py-5 w-full
}

.achievement_card {
  border-radius: 12px;
  border: 1px solid #DFDEDA;
  @apply bg-black text-white overflow-hidden p-3
}

.project_card {
  @apply hover:scale-105 transition hover:shadow-md active:scale-100 ease-in
}

.certificate_card {
  @apply flex justify-between items-center border p-3 rounded-lg 
}
