@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #F7F8FD;
}

.custom_border {
  @apply border border-[#e6e6e6]
}

.section_title {
  @apply p-10 rounded-xl
}

.tech_stack {
  @apply rounded-md p-1 px-4 py-2 text-sm text-center bg-gray-200 font-semibold text-gray-700
}

.card_container {
  @apply custom_border p-3 flex flex-col rounded-lg items-start gap-2 bg-gray-100
}

.card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  @apply ring-1 ring-gray-300
}

.achievement_card {
  border-radius: 12px;
  border: 1px solid #DFDEDA;
  @apply bg-black text-white overflow-hidden p-3
}

.project_card {
  @apply hover:scale-105 transition shadow-md shadow-gray-200 active:scale-100 ease-in 
}

.certificate_card {
  @apply flex justify-between items-center border p-3 rounded-lg 
}
