@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  @apply max-sm:mx-4 max-md:mx-8 max-lg:mx-16 max-xl:mx-32 max-2xl:mx-64 py-8
}

.section_title {
  @apply p-3 rounded-xl shadow-sm border
}

.tech_stack {
  @apply border border-black rounded-full p-1 px-2 text-xs text-center
}

.card {
  background-color: #fff;
  border-radius: 12px;
  transition: filter 0.3s ease; /* Add this for the transition effect */
  overflow: hidden;
}

  /* card animation when hover */
  .card:hover {
    filter: drop-shadow(0 5px 5px #dddddd);
  }

.segment_card_hover:hover {
  @apply hover:bg-[#e7e7e7] active:bg-[#eeeeee] transition-colors duration-150 ease-in 
}

.certificate_card {
  @apply flex justify-between items-center border p-5 rounded-lg 
}
